body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #3b5e49;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: #ffffff;
    padding-right: 15px;
}

#errorMessage {
    color: rgb(255, 0, 0);
    
    
}


#addTask {
    padding: 4px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    background-color: rgb(0, 87, 43);
    color: rgb(255, 255, 255);
}

#todo-container {
    width: 400px;
    background: rgb(29, 29, 29);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    
}

ul {
    list-style-type: none;
    padding: 0;
}



/* Tehtävälista */
li {
    background: #ddd;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

/* Nappikontti */
.button-container {
    display: flex;
    gap: 5px; /* Välit nappien väliin */
}

/* Tehty-nappi */
.done-btn {
    background-color: rgb(0, 87, 43);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

/* Poista-nappi */
.delete-btn {
    background-color: rgb(184, 8, 8);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-right: 0px;
    cursor: pointer;
}

/* Tehtävä valmis */
li.completed {
    text-decoration: line-through;
    color: gray;
    margin-left: 2px;
}

